body {
    height: auto;
    width: auto;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow: hidden;
    -webkit-user-select: none;
    cursor: default;
}

.closeButton {
    display: inline-flex;
    order: 1;
    -webkit-app-region: no-drag;
    height: 1em;
    width: 1em;
    border-radius: .5em;
    background-color: rgb(247, 43, 43);
    margin: .35em .3em .35em .6em;
}

.closeButton:active {
    background-color: rgb(200, 43, 43);
}

.minimizeButton {
    display: inline-flex;
    order: 2;
    -webkit-app-region: no-drag;
    height: 1em;
    width: 1em;
    border-radius: .5em;
    background-color: rgb(255, 221, 40);
    margin: .35em .15em;
}

.minimizeButton:active {
    background-color: rgb(231, 198, 22);
}

.toolbar {
    display: inline-flex;
    flex-direction: row;
    -webkit-app-region: drag;
    width: 100%;
    background-color: rgb(36, 38, 73);
    height: 1.75em;
    box-shadow: 0 0.15em .5em 0 rgba(0, 0, 0, 0.5);
}

.title {
    order: 3;
    font-size: .96em;
    font-weight: bold;
    color: white;
    margin: .25em 12.25em;
}

.viewportContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.btn {
    display: inline-block;
    height: 1.6em;
    width: 1.6em;
    background-color: rgb(112, 112, 112);
    border-radius: .18em;
    border: none;
    padding: 0 0;
    margin: .15em .15em;
}

.btn:hover {
    transition: 120ms;
    background-color: rgb(68, 68, 68);
}

.btn.disabled {
    height: 1.6em;
    width: 1.6em;
    background-color: rgb(201, 201, 201);
    border-radius: .18em;
    opacity: 1;
    border: none;
    padding: none;
}

.glyphicon.glyphicon-remove {
    text-align: center;
    font-size: 1.2em;
    color: rgb(255, 22, 22);
    margin: .15em;
}

.glyphicon.glyphicon-flag {
    text-align: center;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    margin: .15em;
}

.gameboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    order: 1;
    height: 100%;
    width: 31em;
    margin: .5em 0 .5em .45em;
}

.infoBar {
    display: flex;
    flex-direction: column;
    order: 2;
    width: 8.5em;
    margin: 2.5em .5em;
    text-align: center;
}

.timerField, .mineCountField {
    display: inline-block;
    width: 5em;
    height: 2em;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: .45em;
    border-color: rgba(0, 0, 0, 0.5);
    border-width: .1em;
    box-shadow: inset 0 0 .5em 0 rgba(0, 0, 0, 0.3);
}

.timeInner {
    margin-top: .2em;
}
